.banner {
  color: whitesmoke;
  width: 100%;
  height: 90vh;
}
.banner_content {
  position: absolute;
  top: 25%;
  transform: translateY(-25%);
  left: 0;
  right: 0;
  padding-left: 2em;
}

.btn button {
  background-color: #fc0a0a;
  color: #ffff;
  border: 0;
  padding: 1em 2em;
  border-radius: 2em;
  font-size: 0.9;
}

.btn button {
  margin-right: 2em;
  margin-top: 0em;
}
button:hover {
  color: #fc0a0a;
  background-color: #ffff;
  cursor: pointer;
}
.description {
  width: 50%;
  line-height: 1.5em;
  font-weight: lighter;
  padding-top: 0.5em;
}

@media screen and (max-width: 550px) {
  .banner {
    height: 45vh;
  }
  .banner_content {
    top: 10%;
  }
}
