.row {
  color: whitesmoke;
  margin-left: 2em;
  margin-bottom: 2em;
}
.ri {
  width: 10%;
  object-fit: contain;
  margin-left: 1em;
  cursor: pointer;
  transition: transform 450ms;
}
.ri:hover {
  transform: scale(1.08);
}
.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 1em;
}
.row_posters::-webkit-scrollbar {
  display: none;
}
.large-image {
  width: 15%;
}

@media screen and (max-width: 550px) {
  .navbar {
    top: -6%;
  }
  .large-image {
    width: 40%;
  }
  .ri {
    width: 40%;
  }
}
